# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
trim_trailing_whitespace = true

[*.{js,py,ts,md,java}]
charset = utf-8

[*.java]
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 2

[{*.js,package.json,.travis.yml,.eslintrc,}]
indent_style = space
indent_size = 2

[*.ts]
quote_type = single